.image {
  width: 200px;
  height: 200px;
}

.locationCard {
  border: 1px solid var(--light-gray);
  margin-bottom: 1rem;
}

.title {
  font-size: 1.5rem;
  padding: 1rem;
  background: var(--red);
  color: white;
}

.body {
  padding: 1rem;
}